body {
  font-family: serif;
}
h1,
h2,
h3,
h4 {
  font-family: sans-serif;
}
code,
pre,
tt,
kbd {
  font-family: monospace;
}
p.signature {
  font-family: cursive;
}
h1 {
  font-family: Georgia, serif;
}
p {
  font-family: "Times New Roman", "New Century Schoolbook", GEORGIA, "New York",
    serif;
}
p.cursive {
  font-family: cursive;
}
@font-face{
  font-family: "H";
  font-style: italic;
  font-size: xx-small;
  src: local("Georgia");
}
p.local{
  font-family: "H";
}
